# Extract Financial Statement Values

Financial statement analysis is critical to every organization to enable companies to make better economic decisions that yields more income in the future. For a given financial statement, a rulebook is followed to extract the values associated with accrual, audit status, balance sheet, measurement date and pension plans as shown (refer rulebook & sample data here)

## Task:

Build an NLP model which analyzes each document, looks for relevant financial terms (described below)

The NLP Model should learn on Documents available under Training data folder using Rules listed here

Apply the same model on Test Data documents to extract relevant financial information

The results need to be updated & uploaded in the sheet provided: ‘Results.csv’ (download dataset)

Note: No training labels are explicitly available for this problem statement. You will be able to test your model's accuracy by submitting values extracted for Test data.

## Data Description:

Columns

Description of Values

Credit Name, State, Security ID, Org ID, FYE

Identifiers from Documents provided to you already in “Results.csv”

Accounting Basis

Identify ‘Basis of Accounting’ as [‘Accrual’, ‘Cash’, ‘Modified Accrual’, ‘Modified Cash’, ‘Regulatory’]

Pension Plan 1 Name*

Pension Plan Identifier for Pension Plan with highest Total Pension Liability (0 if no date is specified) 

Pension Plan 1 Measurement Date

Reporting Date for Pension Plan 1 (0 if no date is specified) [DD/MM/YYYY]

Pension Plan 1 Total Pension Liability

Total Pension Plan liability for Pension Plan 1 (0 if no liability is specified) [int64]

Balance Sheet Cash

Total value of Balance sheet-Governmental funds under ‘Cash & Cash Equivalents’ row. This will include all other row items as well which have been highlighted in the rules for cash and cash equivalent.  (0 if no balance sheet amount is specified) [int64]

Pension Plan 2 Name*

Pension Plan Identifier for Pension Plan with second highest Total Pension Liability (0 if no date is specified)

Pension Plan 2 Measurement Date

Reporting Date for Pension Plan 1 (0 if no date is specified) [DD/MM/YYYY]

Pension Plan 2 Total Pension Liability

Total Pension Plan liability for Pension Plan 1 (0 if no date is specified) [int64]

Note: *- Map Pension Plan Names to Industry Standards as specified here

### Data Volume:

Train Data: 479 Documents, 1.5GB

Test Data: 98 Documents, 373.7MB

Submission Format: You need to update Results.csv provided here, with your predictions and upload it online.

Data Files: Download Dataset (~1.7GB)

Evaluation Metric:

[ML_Model] accuracy_score


[Offline] Source Code, Models/Logic used

# Prequisites and Problem at hand

To understand the problem lets looks at given tasks

* Build an NLP model which analyzes each document, looks for relevant financial terms (described below)

* The NLP Model should learn on Documents available under Training data folder using Rules listed here

* Apply the same model on Test Data documents to extract relevant financial information

* The results need to be updated & uploaded in the sheet provided: ‘Results.csv’ (download dataset)

# Approach

### As

### "Note: No training labels are explicitly available for this problem statement. You will be able to test your model's accuracy by submitting values extracted for Test data"

* This was totally based on **Rule Based extraction methodology** since no training labels were given us for training the model and themn predicting, so it was impossible to use any kind of supervised mechanism.

* Though unsupervised methods could have worked but seeing the evaluation metric, rule based extraction best suited it.

* Org ID of "Jefferson Cnty  GO _AL_**329986**_G O Municipality" is being changed to map with results.csv

In [1]:
from PIL import Image 
import pytesseract 
import sys 
from pdf2image import convert_from_path 
import os

In [2]:
import pandas as pd
import numpy as np
res=pd.read_csv('../Results5cf9666.csv')
res.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
res['Accounting Basis']='Modified Accrual'
res['Pension Plan 1 Total Pension Liability']=0
res['Pension Plan 2 Total Pension Liability']=0
res['Balance Sheet Cash']=0

res['Pension Plan 1 Name']=res['State']
res['Pension Plan 2 Name']=res['State']

res.to_csv('newSub4.csv',index=False)
res.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Modified Accrual,PA,NaN,0,0,PA,NaN,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Modified Accrual,ND,NaN,0,0,ND,NaN,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Modified Accrual,KS,NaN,0,0,KS,NaN,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Modified Accrual,MO,NaN,0,0,MO,NaN,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified Accrual,AK,NaN,0,0,AK,NaN,0

## Pension Abbs excel

In [5]:
pen=pd.read_excel('../Pension Plan Naming Conventions.xlsx')
pen

,Word,Abbreviation,Unnamed: 2,Unnamed: 3,State Name,State Abbreviation,State Name.1,State Abbreviation.1,Acronyms (Do not use),What They Stand For (use this for the abbreviated name)
0,Act,Act,NaN,NaN,Alaska,AK,North Carolina,NC,JRS,Jud Ret Sys
1,Agency,Age,NaN,NaN,Alabama,AL,North Dakota,ND,PERS,Pub Emp Ret Sys
2,Airport,Arpt,NaN,NaN,Arkansas,AR,Nebraska,NE,SERS,State Emp Ret Sys
3,Allowance,Allw,NaN,NaN,Arizona,AZ,New Hampshire,NH,SPRS,State Pol Ret Sys
4,Annuity,Ann,NaN,NaN,California,CA,New JEmp Ret Sysey,NJ,TRS,Teach Ret Sys
5,Appointed,App,NaN,NaN,Colorado,CO,New Mexico,NM,LRF,Leg Ret Fund
6,Arrangement,Arrng,NaN,NaN,Connecticut,CT,Nevada,NV,LRS,Leg Ret Sys
7,Assistance,Assist,NaN,NaN,Delaware,DE,New York,NY,PFF,Pol Fire Fund
8,Association,Asso,NaN,NaN,Florida,FL,Ohio,OH,SPRF,State Pat Ret Fund
9,Attorney,Att,NaN,NaN,Georgia,GA,Oklahoma,OK,SERF,State Emp Ret Fund
10,Authority,Auth,NaN,NaN,Hawaii,HI,Oregon,OR,PECF,Pub Emp Corr Fund
11,Award,Awrd,NaN,NaN,Iowa,IA,Pennsylvania,PA,OPEB,Oth Post Emp Ben
12,Benefit,Ben,NaN,NaN,Idaho,ID,Puerto Rico,PR,NaN,NaN
13,Board,Brd,NaN,NaN,Illinois,IL,Rhode Island,RI,NaN,NaN
14,Budget,Bdgt,NaN,NaN,Indiana,IN,South Carolina,SC,NaN,NaN
15,Care,Care,NaN,NaN,Kansas,KS,South Dakota,SD,NaN,NaN
16,Central,Cent,NaN,NaN,Kentucky,KY,Tennessee,TN,NaN,NaN
17,City,City,NaN,NaN,Louisiana,LA,Texas,TX,NaN,NaN
18,Civil,Civ,NaN,NaN,Massachusetts,MA,Utah,UT,NaN,NaN
19,Closed,Closed,NaN,NaN,Maryland,MD,Virginia,VA,NaN,NaN
20,Commissioners,Comm,NaN,NaN,Maine,ME,Vermont,VT,NaN,NaN
21,Comprehensive,Compre,NaN,NaN,Michigan,MI,Washington,WA,NaN,NaN
22,Consolidated,Cons,NaN,NaN,Minnesota,MN,Wisconsin,WI,NaN,NaN
23,Contributory,Cont,NaN,NaN,Missouri,MO,West Virginia,WV,NaN,NaN
24,Cooperative,Coop,NaN,NaN,Mississippi,MS,Wyoming,WY,NaN,NaN
25,Correctional,Corr,NaN,NaN,Montana,MT,NaN,NaN,NaN,NaN
26,County,Cnty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Coverage,Cov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Conservation,Conser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Credit,Cred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
134,Sheriff,Sher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Special,Spl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,State,State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Stipend,Stpnd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Subdivision,Subd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Subsidy,Sub,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Suburban,Suburb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Supplemental,Suppl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,System,Sys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,Surveillance,Surv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,Teachers,Teach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Telephone,Telphn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,Term,Trm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Termination,Term,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Town,Twn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Transportation,Trsp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Trust,Trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Uniformed,Unif,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Union,Uni,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,University,Univ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Utility,Util,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,Vision,Visn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,Volunteer,Volu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Warehousemen,Whmen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Water,Wtr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Welfare,Welf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,Wide,Wide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,Window,Wndw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,Withdrawn,Withd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Works,Wrk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Total Words and their Abbreviation in a dict

In [6]:

d_pp={}
for i,k in pen[['Word','Abbreviation']].values:
    d_pp[i.strip()]=k.strip()

### Total States and their Abbreviation

In [7]:
pen[['State Abbreviation','State Abbreviation.1']].values
states=pen['State Abbreviation'].dropna().values.tolist()
states.extend(pen['State Abbreviation.1'].dropna().values.tolist())

### All test pdf

In [8]:
import os
test_pdf=os.listdir('Test Data')
# test_pdf

In [9]:
pd.options.display.max_rows = 100
# res

In [10]:
'Jefferson Cnty  GO _AL_10928_G O Municipality & County_County_2017.pdf'.split("_")

['Jefferson Cnty  GO ',
 'AL',
 '10928',
 'G O Municipality & County',
 'County',
 '2017.pdf']

In [11]:
len(res.State.values)

98

## Pension Plan 1 and Pension Plan 2 Name Extraction

* Extract POS tagging NNP which are in Pension plan Conventions excel
* Get the sentence with highest NNP tags

In [21]:
import nltk 
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize, sent_tokenize 
stop_words = set(stopwords.words('english')) 
nltk.pos_tag(d_pp.keys()) 
# nltk.download('averaged_perceptron_tagger')
def pos(txt):
    tokenized = txt
    f=[]
    f2=[]
    for i in tokenized: 
        wordsList = nltk.word_tokenize(i) 
        
        # removing stop words from wordList 
        wordsList = [w for w in wordsList if not w in stop_words]  
        tagged = nltk.pos_tag(wordsList) 
        tgg=[x for x in tagged if x[1] =='NNP' and x[0].capitalize() in d_pp.keys()]
        tgg=list(set(tgg))
        if len(tgg)>=4:
            f.append(" ".join([d_pp[x[0].capitalize()] for x in tgg ]))
    ret_list=sorted(f, key=len,reverse=True)[0:2]
    if ret_list==[]:
        return ['','']
    elif len(ret_list)==1:
        return [ret_list[0],'0']
    else:
        return sorted(f, key=len,reverse=True)[0:2]
        
# print(test_pdf[40])
# for pdf in test_pdf:
#     print(pdf)
#     if pdf.startswith('.')==False:
#         f=open(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt',"r+") 
#         # print(f.readlines())
#         print(pos(f.readlines()))
#         f.close()
#     break

## Accounting Basis Extraction

* Find targetted word **basis of accounting** and take text preceeding and following sentences.
* COunter of specific [‘Accrual’, ‘Cash’, ‘Modified Accrual’, ‘Modified Cash’, ‘Regulatory’] words in text
* find most common

In [25]:
#accrual, audited, actual , unaudited, estimate, budgeted, projected, training
# [‘Accrual’, ‘Cash’, ‘Modified Accrual’, ‘Modified Cash’, ‘Regulatory’]
from collections import Counter
# def acc_basis(t):
#     t=" ".join(t)
#     t=t.lower()
#     d={}
#     word_counts=Counter(t.split())
#     d['cash']=word_counts.get('cash')
#     d['accrual']=word_counts.get('accrual')
#     d['modified accrual']=t.count('modified accrual')
#     d['modified cash']=t.count('modified cash')
#     d['regulatory']=word_counts.get('regulatory')
    
#     for k,v in d.items():
#         if v==None:
#             d[k]=0
#     d['accrual']=d['accrual']-d['modified accrual']
#     accbase=sorted(d.items(), key = lambda x : -x[1])[0][0]
#     if d['modified cash']!=0:
#         return 'Modified Cash'
#     return sorted(d.items(), key = lambda x : -x[1])

def acc_basis1(t):
    main=[]
    for txt in t:
        if txt.lower().find('basis of accounting')!=-1:
            main.append((txt[txt.lower().find('basis of accounting')-800:txt.lower().find('basis of accounting')+300]))

    d={}
    word_counts=Counter(" ".join(main).split())
    d['cash']=word_counts.get('cash')
    d['accrual']=word_counts.get('accrual')
    d['modified accrual']=" ".join(main).count('modified accrual')
    d['modified cash']=" ".join(main).count('modified cash')
    d['regulatory']=word_counts.get('regulatory')
    for k,v in d.items():
        if v==None:
            d[k]=0
    d['cash']=d['cash']-d['modified cash']
    d['accrual']=d['accrual']-d['modified accrual']
    return sorted(d.items(), key = lambda x : -x[1])[0][0]


# # print(test_pdf[60])
# for pdf in test_pdf:
#     print(pdf)
#     if pdf.startswith('.')==False:
#         f=open(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt',"r+") 
#         # print(f.readlines())
#         print(acc_basis1(f.readlines()))
#         f.close()
# #         break

In [14]:

# def pension_details(t):
#     d={}
#     word_counts=Counter(t.split())
#     for k,v in d_pp.items():
#         d[k]=word_counts.get(k)
#     for k,v in d.items():
#         if v==None:
#             d[k]=0
#     accbase=sorted(d.items(), key = lambda x : -x[1])[0][0]
#     return sorted(d.items(), key = lambda x : -x[1])[:7]

## Pension Plan 1 and Pension Plan 2 Measurement date Extraction

* Find dates in the text which has **measurement date** in it
* Filter out those days within following years 2016,2017,2018,2019,2020
* Return them

In [15]:
!pip install datefinder

Requirement already satisfied: datefinder in /Users/rajat.ranjan/anaconda3/lib/python3.7/site-packages (0.7.0)
Requirement already satisfied: regex>=2017.02.08 in /Users/rajat.ranjan/anaconda3/lib/python3.7/site-packages (from datefinder) (2019.6.8)
Requirement already satisfied: python-dateutil>=2.4.2 in /Users/rajat.ranjan/anaconda3/lib/python3.7/site-packages (from datefinder) (2.7.5)
Requirement already satisfied: pytz in /Users/rajat.ranjan/anaconda3/lib/python3.7/site-packages (from datefinder) (2018.7)
Requirement already satisfied: six>=1.5 in /Users/rajat.ranjan/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.4.2->datefinder) (1.12.0)

In [17]:

import dateutil.parser as dparser
from dateutil.parser import parse
def find_date(val):
    try:
        dat=[]
        for v in val:
            arr=[x.strftime('%B %d, %Y') for x in datefinder.find_dates(v) if datetime.strptime(x.strftime('%B %d, %Y'), '%B %d, %Y').year in [2016,2017,2018,2019,2020] and v.lower().find('measurement date')!=-1]
            if arr!=[]:
                dat.append(arr[0])
        if dat==[]:
            return [0,0]
        elif len(list(set(dat)))==1:
            return [list(set(dat))[0],0]
        else:
            return list(set(dat))[:2]
    except:
        return [0,0]

    
# # print(test_pdf[60])
# for pdf in test_pdf:
#     print(pdf)
#     if pdf.startswith('.')==False:
#         f=open(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt',"r+") 
#         # print(f.readlines())
#         print(find_date(f.readlines()))
#         f.close()
#         break

## Pension Plan 1 and Pension Plan 2 Total pension Liability Extraction

In [41]:
# def tpl(t):
#     try:
#         amt=[]
#         for g in range(len(t)):
#             if t[g].lower().find('pension liability')!=-1:
#                 p=[x for x in nltk.pos_tag((t[g]+t[g-1]+t[g+1]).split()) if x[1]=='JJ' and x[0].startswith('$')]
#                 if p!=[]:
#                     amt.append(p[0][0][1:])
#         if list(set(amt))==[]:
#             return [0,0]
#         elif len(list(set(amt)))==1:
#             return [list(set(amt))[0],0]
#         else:
#             return list(set(amt))
#     except:
#         return [0,0]
    
def tpl(t):
    try:
        t = [i + j for i, j in zip(t[::2], t[1::2])]
        amt=[]
        for g in range(len(t)):
            if t[g].lower().find('pension liability')!=-1:
                p=[x for x in nltk.pos_tag((t[g-1]+t[g]+t[g+1]).split()) if x[1]=='JJ' and x[0].startswith('$')]
                if p!=[]:
                    amt.append(p[0][0][1:])
        amt=["{:,}".format(toNumber(x)) for x in amt if "{:,}".format(toNumber(x))!='0']
#         print(amt)
        if list(set(amt))==[]:
            return [0,0]
        elif len(list(set(amt)))==1:
            return [list(set(amt))[0],0]
        else:
            return list(set(amt))[:2]
    except:
        return [0,0]
                
# print(test_pdf[60])
# for pdf in test_pdf[10:20]:
#     print(pdf)
#     if pdf.startswith('.')==False:
#         f=open(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt',"r+") 
#         # print(f.readlines())
#         g=f.readlines()
#         print(tpl(g))
#         f.close()
# #         break

In [ ]:
# Dodge City_KS_15059_G O Municipality & County_City _2017.pdf
# ['673,669.0', 0]
# Annapolis_MD_1784_G O Municipality & County_City_2018.pdf
# [0, 0]
# .DS_Store
# Sussex Cnty_DE_13218_G O Municipality & County_County_2018.pdf
# ['104,655,672.0', '138.0']
# Talladega_AL_8999_G O Municipality & County_City_2017.pdf
# ['1.0', '632,981.0']
# Kitsap Cnty_WA_11962_G O Municipality & County_County_2017.pdf
# ['13.0', '353,828.0']
# Sweetwater Cnty_WY_15662_G O Municipality & County_County_2017.pdf
# ['4,453,523.0', 0]
# East Haddam_CT_12833_G O Municipality & County_Town_2018.pdf
# ['84,856.0', 0]
# Pine Bluff_AR_14783_G O Municipality & County_City _2017.pdf
# ['16,573,277.0', '95,986.0']
# Sharon_PA_26199_G O Municipality & County_City_2017.pdf
# [0, 0]

## Balance Sheet

In [49]:
cash_terms=['cash',
'cash and demand accounts',
'cash and investments',
'cash and deposits',
'cash and time deposits',
'cash and equivalents',
'cash in county treasury',
'cash in revolving fund',
'cash on hands',
            'cash on hand',
'cash in banks',
'collection awaiting deposit',
'non-pooled cash', 'petty cash', 'pooled cash',
'demand deposit',
'demand accounts',
'equity in cash and investments',
'equity in pooled cash and cash equivalents']

import re


def toNumber(b):
    try:
        return float(re.sub(r'[^0-9]',"",b))
    except:
        return 0

def ffff(ind,indgf,t):
    amt=0
    ind.sort(reverse=True)
    indgf.sort(reverse=True)
    ix=max(ind[0],indgf[0])
    t=t[ix:]
    c=0
    for xx in t:
        if [g for g in cash_terms if g in xx.lower()]!=[] and [v for v in nltk.pos_tag(xx.split()) if v[1]=='CD' ]!=[]:
            bs=[b for b in nltk.pos_tag(xx.split()) if b[1]=='CD' and b[0].find(',')!=-1 and len(b[0])>=6]
            if bs!=[]:
                return "{:,}".format(toNumber(bs[0][0]))
#                 c+=1
#         if c>=2:
#             return "{:,}".format(amt)
            
def ffffxx(t):
    amt=0
    c=0
    for xx in t:
        if [g for g in cash_terms if g in xx.lower()]!=[] and [v for v in nltk.pos_tag(xx.split()) if v[1]=='CD' ]!=[]:
            bs=[b for b in nltk.pos_tag(xx.split()) if b[1]=='CD' and b[0].find(',')!=-1 and len(b[0])>=6 ]

            if bs!=[]:
                return "{:,}".format(toNumber(bs[0][0]))
#                 c+=1
#         if c>=2:
#             return "{:,}".format(amt)

def balance_sheet(t):
    ind=[]
    indgf=[]
    for x in range(len(t)):
        if 'balance sheet' in t[x].lower():
            ind.append(t[x].find('balance sheet'))
        if 'governmental funds' in t[x].lower():
            indgf.append(t[x].find('governmental funds'))
    if ind!=[] and indgf!=[]:
        return ffff(ind,indgf,t)
    else:
        return ffffxx(t)
          
# fil=76
# print(test_pdf[fil])
# for pdf in test_pdf:
#     print(pdf)
#     if pdf.startswith('.')==False:
#         f=open(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt',"r+") 
#         # print(f.readlines())
#         print(balance_sheet(f.readlines()))
#         f.close()
#         break

Minneapolis_KS_523347_G O Municipality & County_City _2017.pdf
4,460,571.0

# Final Prediction method

In [52]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july',
          'august', 'september', 'october', 'november', 'december']
import datefinder
from datetime import datetime
acc_basis_list=[]
pp1name=[]
pp2name=[]
mm1date=[]
mm2date=[]

pp1amt=[]
pp2amt=[]

bsam=[]
for st,org in res[['State','Org ID']].values:
    for pdf in test_pdf:
        if str(org) in pdf.split("_") and pdf.startswith('.')==False:
            print(pdf.split('&')[0],org)
            if os.path.exists(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt'):
                #reading text file
                f=open(pdf.split('&')[0]+'/out_text'+pdf.split('&')[0]+'.txt',"r+") 
                ftext=f.readlines()
                
                # Accounting basis
                acc_basis_list.append(acc_basis1(ftext))
                
                # Pension plan names
                jj=pos(ftext)
                pp1name.append(st+'_'+jj[0])
                pp2name.append(st+'_'+jj[1])
                
                # Pension Plan Measurement date
                dt=find_date(ftext)
                mm1date.append(dt[0])
                mm2date.append(dt[1])
                
                # Pension Plan total pension liability
                ppamt=tpl(ftext)
                pp1amt.append(ppamt[0])
                pp2amt.append(ppamt[1])
                
                # Balance sheet
                bsam.append(balance_sheet(ftext))
                f.close()
                break
            else:
                print('>>>>>>>>',pdf)

Jeannette_PA_8612_G O Municipality  8612
Dickinson_ND_12020_G O Municipality  12020
Rawlins County_KS_494151_G O Municipality  494151
Stone County_MO_326056_G O Municipality  326056
Anchorage_AK_27613_G O Municipality  27613
Belmont Cnty_OH_13654_G O Municipality  13654
Fayetteville_AR_1499_G O Municipality  1499
Hidalgo Cnty Dr Dist 1_TX_7635_G O Municipality  7635
Jones Cnty_MS_21281_G O Municipality  21281
Nassau Cnty_NY_3677_G O Municipality  3677
NOVATO_CA_20829_G O Municipality  20829
Ocean City_NJ_4115_G O Municipality  4115
Shelby Cnty_AL_21033_G O Municipality  21033
Summit Cnty_OH_5816_G O Municipality  5816
Chelan Cnty_WA_15594_G O Municipality  15594
Utah Cnty_UT_16030_G O Municipality  16030
Valdez_AK_1129_G O Municipality  1129
Joliet Pk Dist_IL_12617_G O Municipality  12617
Pointe Coupee Parish_LA_14599_G O Municipality  14599
St Johns Cnty_FL_2840_G O Municipality  2840
Gwinnett Cnty_GA_9457_G O Municipality  9457
Virginia Peninsula Regl Jail Auth_VA_303122_G O Municipality  303122
River Trails Pk Dist_IL_347152_G O Municipality  347152
St. Bernard Parish_LA_89_G O Municipality  89
Texarkana_AR_2518_G O Municipality  2518
Snoqualmie_WA_367048_G O Municipality  367048
Moscow_ID_326597_G O Municipality  326597
Jefferson Cnty  GO _AL_329986_G O Municipality  329986
Harris Cnty Mun Util Dist 354_TX_326743_G O Municipality  326743
Fond Du Lac_WI_6846_G O Municipality  6846
Bath Charter Twp_MI_378353_G O Municipality  378353
Dodge City_KS_15059_G O Municipality  15059
Red Oak_TX_13782_G O Municipality  13782
Greenfield_MA_23202_G O Municipality  23202
Sea Isle City_NJ_10889_G O Municipality  10889
Summerdale_AL_405045_G O Municipality  405045
Killingly Twn_CT_550_G O Municipality  550
Talladega_AL_8999_G O Municipality  8999
Clay Cnty_KS_475061_G O Municipality  475061
Wadsworth_OH_25271_G O Municipality  25271
Salem_NH_12414_G O Municipality  12414
Wallace County_KS_485563_G O Municipality  485563
Grand Meadow_MN_490158_G O Municipality  490158
Fillmore Cnty_NE_491999_G O Municipality  491999
South Florida Wtr Mgt Dist_FL_13376_G O Municipality  13376
Sharon_PA_26199_G O Municipality  26199
Ste. Genevieve_MO_321475_G O Municipality  321475
Minneapolis_KS_523347_G O Municipality  523347
Hot Springs_SD_553948_G O Municipality  553948
Crestview_FL_2916_G O Municipality  2916
Geneva County_AL_571349_G O Municipality  571349
Burleigh Cnty_ND_10620_G O Municipality  10620
Shell Rock River Watershed District_MN_607184_G O Municipality  607184
La Paz Cnty_AZ_372467_G O Municipality  372467
Sweetwater Cnty_WY_15662_G O Municipality  15662
Lake Benton_MN_23324_G O Municipality  23324
Audubon Cnty_IA_303832_G O Municipality  303832
Pine Bluff_AR_14783_G O Municipality  14783
Cordova Rec and Park_CA_623440_G O Municipality  623440
Garfield Township_MI_521870_G O Municipality  521870
Angleton Danbury Hosp Dist_TX_15837_G O Municipality  15837
Annapolis_MD_1784_G O Municipality  1784
Ansonia_CT_300854_G O Municipality  300854
Smithfield_RI_7948_G O Municipality  7948
Surry Cnty_NC_3385_G O Municipality  3385
Sussex Cnty_DE_13218_G O Municipality  13218
El Paso De Robles  aka Paso Robles _CA_17712_G O Municipality  17712
Reno_NV_4397_G O Municipality  4397
Tamarac_FL_10088_G O Municipality  10088
Seguin_TX_11139_G O Municipality  11139
Farmers Branch_TX_22559_G O Municipality  22559
Harris Cnty Mun Util Dist #168_TX_26773_G O Municipality  26773
Fredericksburg_VA_6586_G O Municipality  6586
Mason Creek Util Dist_TX_7162_G O Municipality  7162
Providence_RI_7947_G O Municipality  7947
Milpitas_CA_344039_G O Municipality  344039
Pleasant Grove_UT_27947_G O Municipality  27947
Commerce_CA_379093_G O Municipality  379093
St Louis Regl Arpt Auth_IL_333960_G O Municipality  333960
Kalispell _MT_361330_G O Municipality  361330
Grundy Cnty_IL_362269_G O Municipality  362269
Spring Creek Utility District_TX_322417_G O Municipality  322417
Williamson Cnty Mun Util Dist 11_TX_479501_G O Municipality  479501
Travis Cnty Mun Util Dist No.11_TX_557386_G O Municipality  557386
Woods Cross_UT_20994_G O Municipality  20994
Centerville City_UT_467721_G O Municipality  467721
Buford_GA_14231_G O Municipality  14231
Kitsap Cnty_WA_11962_G O Municipality  11962
Oro Vy_AZ_20742_G O Municipality  20742
Denver City Cnty_CO_1025_G O Municipality  1025
Plaquemine_LA_322719_G O Municipality  322719
Pima Cnty_AZ_1422_G O Municipality  1422
Utica City_VT_17524_G O Municipality  17524
Yonkers_NY_3562_G O Municipality  3562
Las Cruces_NM_2956_G O Municipality  2956
Clay Twp_MI_345734_G O Municipality  345734
Ipswich Twn_MA_340179_G O Municipality  340179
East Haddam_CT_12833_G O Municipality  12833

# Submission

In [55]:
res=pd.read_csv('../Results5cf9666.csv')
res.head()
len(pp1name),res.shape

(0, (98, 15))

# All values - 1

In [28]:
res['Accounting Basis']=acc_basis_list
res['Pension Plan 1 Total Pension Liability']=pp1amt
res['Pension Plan 2 Total Pension Liability']=pp2amt
res['Pension Plan 1 Measurement Date']=mm1date
res['Pension Plan 2 Measurement Date']=mm2date
res['Balance Sheet Cash']=bsam

res['Pension Plan 1 Name']=pp1name
res['Pension Plan 2 Name']=pp2name
res['Accounting Basis']=res['Accounting Basis'].apply(lambda x: x.capitalize())
res.to_csv('submission_submitted1_bsam.csv',index=False)
res.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Cash,PA_Pol Pen Firemen Plan,0,0,"8,463,170.0",PA_City Firemen Act Act,0,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Accrual,ND_Pen Firemen Volu Pol Plan,"December 31, 2019",0,"53,944,476.0",ND_Pen Firemen Volu Pol Plan,0,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Regulatory,KS_Bdgt Omni Act Cnty Cons Recon,0,0,"630,704.0",KS_State Asso Cnty Coop,0,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,MO_Edu Enf Fund Law Att Civ Drug,"January 13, 2019",0,"1,560,510.0",MO_Pub Dept Saf Assist Justi,0,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified accrual,AK_Pen Fire Ret Govt Trust Pol Age,0,46.9,"78,066,769.0",AK_Fund Fire Med Trust Ret Pol,0,68

# Values -2

In [32]:
res['Accounting Basis']=acc_basis_list
res['Pension Plan 1 Total Pension Liability']=0
res['Pension Plan 2 Total Pension Liability']=0
res['Pension Plan 1 Measurement Date']=0
res['Pension Plan 2 Measurement Date']=0
res['Balance Sheet Cash']=0

res['Pension Plan 1 Name']=pp1name
res['Pension Plan 2 Name']=pp2name
res['Accounting Basis']=res['Accounting Basis'].apply(lambda x: x.capitalize())
res.to_csv('submission_submitted_Zero_1.csv',index=False)
res.head()


#28.XX

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Cash,PA_Pol Pen Firemen Plan,0,0,0,PA_City Firemen Act Act,0,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Accrual,ND_Pen Firemen Volu Pol Plan,0,0,0,ND_Pen Firemen Volu Pol Plan,0,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Regulatory,KS_Bdgt Omni Act Cnty Cons Recon,0,0,0,KS_State Asso Cnty Coop,0,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,MO_Edu Enf Fund Law Att Civ Drug,0,0,0,MO_Pub Dept Saf Assist Justi,0,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified accrual,AK_Pen Fire Ret Govt Trust Pol Age,0,0,0,AK_Fund Fire Med Trust Ret Pol,0,0

# Values - 3 - Best

* With all other values the score is decreasing!! so then only accounting basis is the best extracted data column

In [34]:
res['Accounting Basis']=acc_basis_list
res['Pension Plan 1 Total Pension Liability']=0
res['Pension Plan 2 Total Pension Liability']=0
res['Pension Plan 1 Measurement Date']=0
res['Pension Plan 2 Measurement Date']=0
res['Balance Sheet Cash']=0

res['Pension Plan 1 Name']=0
res['Pension Plan 2 Name']=0
res['Accounting Basis']=res['Accounting Basis'].apply(lambda x: x.capitalize())
res.to_csv('submission_submitted_Zero_All.csv',index=False)
res.head()


#35.7

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Cash,0,0,0,0,0,0,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Accrual,0,0,0,0,0,0,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Regulatory,0,0,0,0,0,0,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,0,0,0,0,0,0,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified accrual,0,0,0,0,0,0,0

# Values - 4

In [56]:
res['Accounting Basis']=acc_basis_list
res['Pension Plan 1 Total Pension Liability']=0
res['Pension Plan 2 Total Pension Liability']=0
res['Pension Plan 1 Measurement Date']=0
res['Pension Plan 2 Measurement Date']=0
res['Balance Sheet Cash']=bsam

res['Pension Plan 1 Name']=0
res['Pension Plan 2 Name']=0
res['Accounting Basis']=res['Accounting Basis'].apply(lambda x: x.capitalize())
res.to_csv('submission_submitted_Zero_bsam.csv',index=False)
res.head()

#reduced a bit 35.45

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Cash,0,0,0,"8,433,645.0",0,0,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Accrual,0,0,0,"52,253,976.0",0,0,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Regulatory,0,0,0,"290,368.0",0,0,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,0,0,0,"1,029,380.0",0,0,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified accrual,0,0,0,"2,867,451.0",0,0,0

# Values - 5

In [46]:
res['Accounting Basis']=acc_basis_list
res['Pension Plan 1 Total Pension Liability']=pp1amt
res['Pension Plan 2 Total Pension Liability']=pp1amt
res['Pension Plan 1 Measurement Date']=0
res['Pension Plan 2 Measurement Date']=0
res['Balance Sheet Cash']=0

res['Pension Plan 1 Name']=0
res['Pension Plan 2 Name']=0
res['Accounting Basis']=res['Accounting Basis'].apply(lambda x: x.capitalize())
res.to_csv('submission_submitted_Zero_tpl.csv',index=False)
res.head()

#reduced a bit 33.67

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Cash,0,0,0,0,0,0,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Accrual,0,0,0,0,0,0,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Regulatory,0,0,0,0,0,0,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,0,0,0,0,0,0,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified accrual,0,0,46.9,0,0,0,46.9

# Values 6

In [48]:
res['Accounting Basis']=acc_basis_list
res['Pension Plan 1 Total Pension Liability']=0
res['Pension Plan 2 Total Pension Liability']=0
res['Pension Plan 1 Measurement Date']=mm1date
res['Pension Plan 2 Measurement Date']=mm2date
res['Balance Sheet Cash']=0

res['Pension Plan 1 Name']=0
res['Pension Plan 2 Name']=0
res['Accounting Basis']=res['Accounting Basis'].apply(lambda x: x.capitalize())
res.to_csv('submission_submitted_Zero_date.csv',index=False)
res.head()

#reduced a bit 33.54

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,Cash,0,0,0,0,0,0,0
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,Accrual,0,"December 31, 2019",0,0,0,0,0
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,Regulatory,0,0,0,0,0,0,0
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,0,"January 13, 2019",0,0,0,0,0
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified accrual,0,0,0,0,0,0,0